#container{
	height: 100%;
	width: 100%;
}
#under-construction{	
	background-color: rgba(245, 233, 243, 0.27);
	height:35px;
	padding-bottom: 5px;
}
#under-construction > #title{
	text-align: center;
	padding-left: 225px;
}
#title{
	font-size: 35px;
}
#map{
	width:100%;
	height:81%;	
}

#esri{
	display:inline-block;
}
#esri-1{
	display: inline-block;
	position:relative;
	padding-top: 15px;	
	padding-left: 5px;
	padding-left: 2px;
}
#other-logos{
	padding-left: 10px;
	display:inline-block;
}


#bottom-bar{
	position: relative;
	background-color: rgba(255, 185, 244, 0.27);
}

#text-bottom{
	font-size: 15px;
	font: sans-serif;
}
#download{
	position:absolute;
	right: 12px;
	height: 40px;
}
#under-construction > #text{
	padding-left: 195px;
}